In [1]:
import os
import pandas as pd

path = r'C:\Users\shubh\Desktop\XGB DNN\1407\analysis\fpr'
path2 = r'C:\Users\shubh\Desktop\XGB DNN\1407\analysis\fpr\tabnet'
path3 = r'C:\Users\shubh\Desktop\XGB DNN\1407\analysis\fpr\dnn'

In [4]:
for file in os.listdir(path):
    if file.endswith(".csv"):
        df = pd.read_csv(os.path.join(path,file))
        for file2 in os.listdir(path2):
            if str(file)==str(file2):
                
                df2= pd.read_csv(os.path.join(path2,file2))
                
                
                #df3 = pd.concat([df,df2])
                #df3.to_csv('1.csv',index=False)
                for file3 in os.listdir(path3):
                    if str(file3)==str(file2):
                        
                        df4 = pd.read_csv(os.path.join(path3,file3))
                        
                        
                        df5 = pd.concat([df,df2,df4])
                        df5.to_csv(file)
                        print(file)
                        print(file2)
                        print(file3)

CM1.csv
CM1.csv
CM1.csv
JM1.csv
JM1.csv
JM1.csv
KC1.csv
KC1.csv
KC1.csv
KC3.csv
KC3.csv
KC3.csv
MC1.csv
MC1.csv
MC1.csv
MW1.csv
MW1.csv
MW1.csv
PC1.csv
PC1.csv
PC1.csv
PC2.csv
PC2.csv
PC2.csv
PC3.csv
PC3.csv
PC3.csv
PC4.csv
PC4.csv
PC4.csv
PC5.csv
PC5.csv
PC5.csv

In [9]:
path2 = r'C:\Users\shubh\Desktop\XGB DNN\1407\analysis\fpr\tabnet'
d = pd.read_csv()

     Unnamed: 0                    fpr                  tpr
0             0                   %SVC
1             1                    0.0                  0.0
2             2  0.0037735849056603774                  0.0
3             3   0.011320754716981131                  0.0
4             4   0.011320754716981131  0.02564102564102564
..          ...                    ...                  ...
197         197               0.994924             0.966667
198         198               0.997462             0.966667
199         199               0.997462                0.975
200         200                    1.0                0.975
201         201                    1.0                  1.0

[873 rows x 3 columns]